<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleCollectionLayout.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5EBD1B924A37C2B008EFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5EBD1CF24A37C2C008EFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5EBD1DA24A37C2D008EFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
